@font-face {
font-family: "MyGameFont";
src: url("fonts/JiyunoTsubasa.ttf") format("truetype");
}

/* =========================
全体
========================= */

* {
    box-sizing: border-box;
}

html,
body {
margin: 0;
width: 100%;
min-height: 100%;
}

body {
font-family: "MyGameFont", sans-serif;

background-color: #202020;
color: white;

}

/* =========================
ゲーム開始前画面
========================= */

#start-screen {
min-height: 100dvh;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

gap: 24px;

padding:
    calc(20px + env(safe-area-inset-top))
    20px
    calc(20px + env(safe-area-inset-bottom));

}

#start-screen h1 {
margin-bottom: 25px;

text-align: center;

}

/* お宝ポイント */

.start-treasure {
display: flex;
flex-direction: column;
align-items: center;

gap: 8px;

font-size: 18px;

margin-top: 30px;

}

#start-treasure-points {
font-size: 24px;
}

/* 難易度 */

.difficulty-area {
display: flex;
flex-direction: column;
align-items: center;

gap: 8px;

}

.difficulty-area p {
margin: 0;
}

/* 難易度設定ボタン */

#difficulty {
padding: 10px 45px 10px 16px;

font-family: inherit;
font-size: 18px;

border: none;
border-radius: 6px;

background-color: rgb(189, 189, 189);

cursor: pointer;

appearance: none;

}

/* 難易度設定ボタンの三角 */

.difficulty-wrapper {
position: relative;

display: inline-block;

}

.difficulty-wrapper::after {
content: "▼";

position: absolute;

right: 14px;
top: 50%;

transform: translateY(-50%);

pointer-events: none;

color: #202020;

font-size: 11px;

}

/* ゲーム開始ボタン */

#start-button {
width: min(80vw, 300px);

padding: 16px;

font-family: inherit;
font-size: 22px;

border: none;
border-radius: 8px;

background-color: #bdbdbd;

cursor: pointer;

}

#how-to-play {
margin-top: 10px;

text-align: center;

font-size: 14px;

opacity: 0.8;

}

#how-to-play p {
margin: 6px 0;
}

/* =========================
プレイ画面
========================= */

#game-screen {
display: none;

width: 100%;
height: 100dvh;

overflow: hidden;

background-color: #202020;

}

/* =========================
上部固定バー
========================= */

#top-bar {
position: fixed;

top: 0;
left: 0;

width: 100%;

min-height: 70px;

display: flex;
align-items: center;

gap: 10px;

padding:
    calc(10px + env(safe-area-inset-top))
    10px
    10px;

background-color: #303030;

z-index: 1000;

}

/* 正方形ボタン */

.square-button {
width: 48px;
height: 48px;

flex-shrink: 0;

font-family: inherit;
font-size: 26px;

border: none;
border-radius: 6px;

background-color: #666;

color: white;

}

.square-button img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    image-rendering: pixelated;

    pointer-events: none;
}

/* =========================
開く / 旗 モード切り替え
========================= */

#mode-switch {
display: flex;

flex-shrink: 0;

overflow: hidden;

border-radius: 8px;

background-color: #555;

}

.mode-button {
width: 48px;
height: 48px;

border: none;

font-size: 22px;

background-color: transparent;

color: white;

}

/* 現在選択されているモード */

.mode-button.active {
background-color: #999;
box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.4);
}

/* =========================
旗・お宝表示
========================= */

#flag-counter,
#treasure-counter {
white-space: nowrap;

font-size: 15px;

}

/* 画面が狭いときは
お宝ポイントを右側へ */

#treasure-counter {
margin-left: auto;
}

/* =========================
中央ゲームエリア
========================= */

#game-content {
width: 100%;
height: 100%;

padding-top:
    calc(70px + env(safe-area-inset-top));

padding-bottom:
    calc(80px + env(safe-area-inset-bottom));

display: flex;
flex-direction: column;

}

/* メッセージ */

#message {
min-height: 40px;

display: flex;
align-items: center;
justify-content: center;

font-size: 20px;

}

/* =========================
盤面スクロールエリア
========================= */

#board-container {
flex: 1;

width: 100%;

overflow: auto;

-webkit-overflow-scrolling: touch;

padding: 20px;

display: flex;
justify-content: flex-start;
align-items: flex-start;

}

/* 盤面 */

#board {
display: grid;

width: max-content;

margin: auto;

}

/* マス */

.cell {
width: 40px;
height: 40px;

flex-shrink: 0;

background-color:#808080;

border: 2px solid white;

display: flex;
justify-content: center;
align-items: center;

font-weight: bold;

font-size: 18px;

user-select: none;

-webkit-user-select: none;

touch-action: manipulation;

position: relative;

}


/* 爆弾数の数字表示 */

.mine-number {

    color: #FFFFFF;

}


/* お宝画像 */

.treasure-image {

    position: absolute;

    left: 50%;
    top: 50%;

    width: 80%;
    height: 80%;

    object-fit: contain;

    image-rendering: pixelated;

    pointer-events: none;

    z-index: 10;

    filter: drop-shadow(
        0px 2px 0px rgba(0, 0, 0, 0.068)
    );

    animation:/* アニメーションの総時間 */
        treasure-float
        1.4s
        ease-out
        forwards;

}


/* お宝画像アニメーション */

@keyframes treasure-float {

    0% {/* アニメーション開始時間(割合) */

        opacity: 1;/* 不透明度、1が不透明、0が透明 */

        transform:
            translate(-50%, -30%)/* 画像の位置移動(横, 縦)※この状態がマスの中心 */
            scale(1.3);/* 画像の大きさ、1が等倍 */

    }

    50% {

        opacity: 1;

        transform:
            translate(-50%, -75%)
            scale(1.3);

    }

    100% {

        opacity: 0;

        transform:
            translate(-50%, -85%)
            scale(1.3);

    }

}


/* =========================
下部固定バー
========================= */

#bottom-bar {

position: fixed;

left: 0;
bottom: 0;

width: 100%;

min-height: 70px;

display: flex;

justify-content: center;
align-items: center;

gap: 20px;

padding:
    10px
    10px
    calc(10px + env(safe-area-inset-bottom));

background-color: #303030;

z-index: 1000;

}

/* =========================
スキル1個分
========================= */

.skill-item {

display: flex;

flex-direction: column;

align-items: center;

}

/* =========================
スキルボタン
========================= */

.skill-button {

width: 130px;

height: 48px;

font-family: inherit;

font-size: 18px;

border: none;

border-radius: 6px;

background-color: #555555;

color: #FFFFFF;

cursor: pointer;

}

/* =========================
スキルON状態
========================= */

.skill-button.active {

background-color: #919191;
transform: translateY(2px);
box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.4);
}

/* =========================
スキルのコスト
========================= */

.skill-cost {

margin-top: 5px;

color: #FFFFFF;

font-size: 14px;

}


/* =========================
3×3開放 使用対象選択中
========================= */

#board-container.skill-targeting {

    filter: brightness(0.75); /* 明るくするなら1、暗くするなら0 */

}




/* =========================
設定ポップアップ
========================= */


/* 背景全体 */

#settings-popup-overlay {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    justify-content: center;
    align-items: center;

    background-color:
        rgba(0, 0, 0, 0.5);

    z-index: 3000;

    filter: drop-shadow(
        0px 0px 10px rgba(0, 0, 0, 0.712)
    );

}


/* ポップアップ本体 */

#settings-popup {
    position: relative;
    width: min(80vw, 360px);
    background-color: #404040;
    border-radius: 8px;
    overflow: hidden;

}


/* タイトルバー */

#settings-title-bar {
    height: 36px;

    padding-left: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c2c;
    color: white;
    font-family: inherit;
    font-size: 16px;

}


/* タイトル */

#settings-title-bar span {
    line-height: 1;

}


/* ×ボタン */

#close-settings-button {
    width: 48px;
    height: 36px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: #333333;
    color: white;
    font-family: inherit;
    font-size: 22px;
    line-height: 36px;

}


/* ウィンドウの内容 */

#settings-content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}


/* スタート画面に戻る*/

#return-start-button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 6px;
    background-color: #666;
    color: white;
    font-family: inherit;
    font-size: 18px;
    margin: 0;

}


/* ポイント調整部分 */

.save-code-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}


/* 見出し */

.save-code-area p {
    margin: 0;

}


/* 入力欄 */

#save-code-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    text-align: center;

}


/* 決定ボタン */

#load-save-code-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #777;
    color: white;
    font-family: inherit;
    font-size: 18px;

}
